{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!--Logo Container-->
    <div class="logoContainer">
		<h1>Cinematic</h1>
	</div> <!--End logo container-->
    <div class="navbar">
        <a href="{{ url_for('movies') }}"><i class="fa fa-fw fa-bookmark"></i> Movies</a>
        {% if current_user.is_anonymous %}
        <a class="active" href="{{ url_for('login') }}"><i class="fa fa-fw fa-users"></i> Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-users"></i> Logout</a>
        {% endif %}
        <a href="{{ url_for('register') }}"><i class="fa fa-fw fa-sign-in"></i> Register</a>
        <a href="{{ url_for('checkout') }}"><i class="fa fa-fw fa-cart-plus"></i> Checkout</a>


        <!--Search bar-->
         <div class="search-container">
             <form action="{{ url_for('search') }}" method="POST">
                <input type="text" id="searchBar" name="search" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
             </form>
          </div>
    </div> <!--End nav bar -->
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <a href="{{ url_for('register') }}"><h3>Don't have an account?</h3></a>
{% endblock %}

