<div class="jumbotron text-center">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your purchase has been completed. We hope you are satisifed with your purchase.</p>
    <hr>
   
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="{{ url_for('movies') }}" role="button">Continue to homepage</a>
    </p>
  </div>
